{% extends "layout.html" %}
{% block title %}Items{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <h3>Items</h3>
    </div>

    <div class="col text-end">
        <a class="btn btn-primary mb-3" href="{{ url_for('main.crear_item') }}">
            <i class="bi bi-plus"></i> New Item
        </a>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.cantidad }}</td>

            <td class="text-center">

                <a class="btn btn-sm btn-warning"
                   href="{{ url_for('main.editar_item', id=item.id) }}">
                    <i class="bi bi-pencil"></i>
                </a>

                <form method="POST"
                      action="{{ url_for('main.eliminar_item', id=item.id) }}"
                      style="display:inline"
                      onsubmit="return confirm('Are you sure?');">
                    <button class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </form>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
